[user]
	name = Chris Hofstaedtler
[color]
	ui = auto
[core]
	excludesfile = ~/.gitignore_global
[checkout]
	workers = 4
[alias]
	cleanup = !git branch --merged | grep -v $(git symbolic-ref refs/remotes/origin/HEAD | sed 's@^refs/remotes/origin/@@') | xargs -n1 git branch -d
	putz = !git checkout $(git symbolic-ref refs/remotes/origin/HEAD | sed 's@^refs/remotes/origin/@@') && git pull && git cleanup && git remote prune origin
[push]
	default = current
	negotiate = true
[merge]
	keepBackup = false
[filter "media"]
	clean = git-media-clean %f
	smudge = git-media-smudge %f
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	required = true
	process = git-lfs filter-process
[gitreview]
	username = zeha
[transfer]
	fsckobjects = true
[fetch]
	fsckobjects = true
	prune = true
[fetch "fsck"]
	zeroPaddedFilemode = ignore
[receive]
	fsckobjects = true
[credential]
	helper = osxkeychain
[user "gitlab"]
[pull]
	ff = only
	twohead = ort
[init]
	defaultBranch = main
[blame]
	coloring = highlightRecent
[diff]
	renames = copies
[protocol]
	version = 2
[gpg]
	format = ssh
[url "git@github.com:"]
	insteadOf = https://github.com/
[format]
	pretty = fuller
[rerere]
	enabled = true
[commit]
	verbose = true
