[user]
	name = Chris Hofstaedtler
[color]
	ui = auto
[core]
	excludesfile = ~/.gitignore_global
[checkout]
	workers = 4
[alias]
	cleanup = !git branch --merged | grep -v $(git symbolic-ref refs/remotes/origin/HEAD | sed 's@^refs/remotes/origin/@@') | xargs -n1 git branch -d
	putz = !git checkout $(git symbolic-ref refs/remotes/origin/HEAD | sed 's@^refs/remotes/origin/@@') && git pull && git cleanup && git remote prune origin
	mr = "!f() { git fetch -fu ${2:-$(git remote |grep ^upstream || echo origin)} refs/merge-requests/$1/head:mr/$1 && git checkout mr/$1; }; f"
[push]
	default = current
	autoSetupRemote = true
	negotiate = true
[merge]
	keepBackup = false
[filter "media"]
	clean = git-media-clean %f
	smudge = git-media-smudge %f
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	required = true
	process = git-lfs filter-process
[gitreview]
	username = zeha
[transfer]
	fsckobjects = true
[fetch]
	fsckobjects = true
	prune = true
[fetch "fsck"]
	zeroPaddedFilemode = ignore
[receive]
	fsckobjects = true
[credential]
	helper = osxkeychain
[user "gitlab"]
[pull]
	ff = only
	twohead = ort
[init]
	defaultBranch = main
[blame]
	coloring = highlightRecent
[diff]
	renames = true
	algorithm = histogram
	colorMoved = plain
	mnemonicPrefix = true
[protocol]
	version = 2
[gpg]
	format = ssh
[url "git@github.com:"]
	insteadOf = https://github.com/
[url "git@salsa.debian.org:"]
	insteadOf = https://salsa.debian.org/

[format]
	pretty = fuller
[rerere]
	enabled = true
	autoupdate = true
[commit]
	verbose = true
[column]
	ui = auto
[branch]
	sort = -committerdate
[tag]
	sort = version:refname

[rebase]
	autoSquash = false
	autoStash = true
	updateRefs = true

# Include machine-specific config
# Placed at end so local settings can override shared defaults
[include]
	path = ~/.gitconfig_local
